body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.container {
  width: 350px;
  margin: 100px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px gray;
}

h2 {
  margin-bottom: 15px;
}

.inputBox {
  display: flex;
  justify-content: center;
  gap: 10px;
}

input {
  padding: 8px;
  width: 65%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 8px;
  border: none;
  background: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: #f9f9f9;
  margin: 8px 0;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
}

li button {
  background: red;
}

li button:hover {
  background: darkred;
}